<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Charity</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="">
  </head>
  <body>

    <div class="container">

      <div class="jumbotron" align="center">

        <h2>Payment Gateway</h2>
        <h4>Amount: n Rupees</h4>
        <button id="pay" class="btn btn-primary" type="button" name="button">Pay</button>

      </div>

    </div>

    <script src="http://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/Users/chinmayo/Desktop/Charity/charity/static/index.js"></script>
  </body>
</html>
